In [36]:
import pandas as pd
import os

test_dir = "/home/tongyu/project/hperf/tmp/20230314_test001"
cpu_topo = pd.read_csv(os.path.join(test_dir, "cpu_topo"),
                                    sep="\t",
                                    header=None,
                                    names=["unit", "socket"],
                                    usecols=[0, 1])

cpu_topo

    unit  socket
0      0       0
1      1       0
2      2       0
3      3       0
4      4       0
..   ...     ...
59    59       1
60    60       1
61    61       1
62    62       1
63    63       1

[64 rows x 2 columns]

In [37]:
str(cpu_topo.loc[cpu_topo.unit == 62]["socket"].values[0])

'1'

In [38]:
perf_raw_data = pd.read_csv(os.path.join(test_dir, "perf_result"),
                                    sep="\t",
                                    header=None, 
                                    names=["timestamp", "unit", "value", "metric"], 
                                    usecols=[0, 1, 2, 4])

perf_raw_data

       timestamp   unit        value     metric
0       1.000841   CPU0      1009.05  cpu-clock
1       1.000841   CPU1      1009.01  cpu-clock
2       1.000841   CPU2      1008.96  cpu-clock
3       1.000841   CPU3      1008.95  cpu-clock
4       1.000841   CPU4      1008.90  cpu-clock
...          ...    ...          ...        ...
10285  10.001045  CPU59    563191.00      r00c4
10286  10.001045  CPU60    448908.00      r00c4
10287  10.001045  CPU61  12575077.00      r00c4
10288  10.001045  CPU62    429662.00      r00c4
10289  10.001045  CPU63   1244915.00      r00c4

[10290 rows x 4 columns]

In [39]:
def cpu2socket(x):
    cpu_id = int(x["unit"][3:])
    return "SOCKET" + str(cpu_topo.loc[cpu_topo.unit == cpu_id]["socket"].values[0])

perf_raw_data.loc[perf_raw_data.metric == "uncore_cha_0/event=0x34,umask=0x1fe001/", ["unit"]] = perf_raw_data.loc[perf_raw_data.metric == "uncore_cha_0/event=0x34,umask=0x1fe001/", ["unit"]].apply(cpu2socket, axis=1)

In [40]:
perf_raw_data.loc[perf_raw_data.metric == "uncore_cha_0/event=0x34,umask=0x1fe001/"]

      timestamp     unit     value                                   metric
193    1.000841  SOCKET0   80490.0  uncore_cha_0/event=0x34,umask=0x1fe001/
194    1.000841  SOCKET1  202977.0  uncore_cha_0/event=0x34,umask=0x1fe001/
1222   2.004837  SOCKET0   28767.0  uncore_cha_0/event=0x34,umask=0x1fe001/
1223   2.004837  SOCKET1   31349.0  uncore_cha_0/event=0x34,umask=0x1fe001/
2251   3.008836  SOCKET0   43996.0  uncore_cha_0/event=0x34,umask=0x1fe001/
2252   3.008836  SOCKET1   47174.0  uncore_cha_0/event=0x34,umask=0x1fe001/
3280   4.012837  SOCKET0   24032.0  uncore_cha_0/event=0x34,umask=0x1fe001/
3281   4.012837  SOCKET1   26145.0  uncore_cha_0/event=0x34,umask=0x1fe001/
4309   5.016835  SOCKET0   19721.0  uncore_cha_0/event=0x34,umask=0x1fe001/
4310   5.016835  SOCKET1   19285.0  uncore_cha_0/event=0x34,umask=0x1fe001/
5338   6.020834  SOCKET0   19398.0  uncore_cha_0/event=0x34,umask=0x1fe001/
5339   6.020834  SOCKET1   19640.0  uncore_cha_0/event=0x34,umask=0x1fe001/
6367   7.024835  SOCKET0   18795.0  uncore_cha_0/event=0x34,umask=0x1fe001/
6368   7.024835  SOCKET1   18098.0  uncore_cha_0/event=0x34,umask=0x1fe001/
7396   8.028835  SOCKET0   18044.0  uncore_cha_0/event=0x34,umask=0x1fe001/
7397   8.028835  SOCKET1   17817.0  uncore_cha_0/event=0x34,umask=0x1fe001/
8425   9.032834  SOCKET0   20580.0  uncore_cha_0/event=0x34,umask=0x1fe001/
8426   9.032834  SOCKET1   19816.0  uncore_cha_0/event=0x34,umask=0x1fe001/
9454  10.001045  SOCKET0   22700.0  uncore_cha_0/event=0x34,umask=0x1fe001/
9455  10.001045  SOCKET1   23041.0  uncore_cha_0/event=0x34,umask=0x1fe001/

In [41]:
perf_raw_data.loc[perf_raw_data.metric == "uncore_cha_0/event=0x34,umask=0x1fffff/"]

      timestamp   unit     value                                   metric
195    1.000841   CPU0  120376.0  uncore_cha_0/event=0x34,umask=0x1fffff/
196    1.000841  CPU16  790396.0  uncore_cha_0/event=0x34,umask=0x1fffff/
1224   2.004837   CPU0   57970.0  uncore_cha_0/event=0x34,umask=0x1fffff/
1225   2.004837  CPU16  159455.0  uncore_cha_0/event=0x34,umask=0x1fffff/
2253   3.008836   CPU0   72137.0  uncore_cha_0/event=0x34,umask=0x1fffff/
2254   3.008836  CPU16  231428.0  uncore_cha_0/event=0x34,umask=0x1fffff/
3282   4.012837   CPU0   51395.0  uncore_cha_0/event=0x34,umask=0x1fffff/
3283   4.012837  CPU16  140806.0  uncore_cha_0/event=0x34,umask=0x1fffff/
4311   5.016835   CPU0   46835.0  uncore_cha_0/event=0x34,umask=0x1fffff/
4312   5.016835  CPU16   78453.0  uncore_cha_0/event=0x34,umask=0x1fffff/
5340   6.020834   CPU0   45190.0  uncore_cha_0/event=0x34,umask=0x1fffff/
5341   6.020834  CPU16   83713.0  uncore_cha_0/event=0x34,umask=0x1fffff/
6369   7.024835   CPU0   45626.0  uncore_cha_0/event=0x34,umask=0x1fffff/
6370   7.024835  CPU16   77263.0  uncore_cha_0/event=0x34,umask=0x1fffff/
7398   8.028835   CPU0   41854.0  uncore_cha_0/event=0x34,umask=0x1fffff/
7399   8.028835  CPU16   75531.0  uncore_cha_0/event=0x34,umask=0x1fffff/
8427   9.032834   CPU0   47058.0  uncore_cha_0/event=0x34,umask=0x1fffff/
8428   9.032834  CPU16   78278.0  uncore_cha_0/event=0x34,umask=0x1fffff/
9456  10.001045   CPU0   47293.0  uncore_cha_0/event=0x34,umask=0x1fffff/
9457  10.001045  CPU16  108045.0  uncore_cha_0/event=0x34,umask=0x1fffff/

In [42]:
perf_raw_data.loc[perf_raw_data.metric == "cycles:D"]

      timestamp   unit       value    metric
197    1.000841   CPU0   6992013.0  cycles:D
198    1.000841   CPU1   5950626.0  cycles:D
199    1.000841   CPU2  12883264.0  cycles:D
200    1.000841   CPU3   5600254.0  cycles:D
201    1.000841   CPU4   5520659.0  cycles:D
...         ...    ...         ...       ...
9517  10.001045  CPU59   7042618.0  cycles:D
9518  10.001045  CPU60   8839005.0  cycles:D
9519  10.001045  CPU61  30570086.0  cycles:D
9520  10.001045  CPU62   6839410.0  cycles:D
9521  10.001045  CPU63  13938389.0  cycles:D

[640 rows x 4 columns]