In [19]:
import pandas as pd
import numpy as np


raw_data_path = "/home/tongyu/project/hperf/tmp/20221207_test006/perf_result"
raw_dataframe = pd.read_csv(raw_data_path,
                            header=None,
                            names=["timestamp", "unit", "value", "event"],
                            usecols=[0, 1, 2, 4])
raw_dataframe

      timestamp   unit      value     event
0       1.00387   CPU0   13335778  cycles:D
1       1.00387   CPU1    3549856  cycles:D
2       1.00387   CPU2  727653751  cycles:D
3       1.00387   CPU3    3308163  cycles:D
4       1.00387   CPU4     161575  cycles:D
...         ...    ...        ...       ...
2235    5.00153  CPU59         97       rc5
2236    5.00153  CPU60        640       rc5
2237    5.00153  CPU61        143       rc5
2238    5.00153  CPU62        815       rc5
2239    5.00153  CPU63        168       rc5

[2240 rows x 4 columns]

In [20]:
event_per_cpu = raw_dataframe.groupby(["unit", "event"]).agg(
    value_per_cpu=("value", np.sum)
)
event_per_cpu

                     value_per_cpu
unit event
CPU0 cycles:D             26641658
     instructions:D       35832409
     r10D1                  363804
     r8D1                   561588
     rc4                   6445040
...                            ...
CPU9 r10D1                  256217
     r8D1                   468678
     rc4                  10617802
     rc5                    225560
     ref-cycles:D        132333032

[448 rows x 1 columns]

In [21]:
event_all_cpu_total = event_per_cpu.groupby(["event"]).agg(
    value_all_cpu=("value_per_cpu", np.sum)
)
event_all_cpu_total

                value_all_cpu
event
cycles:D           6943876661
instructions:D    11939508046
r10D1                10147666
r8D1                 57636021
rc4                2547416893
rc5                  41555937
ref-cycles:D       8628446676